

@media only screen and (max-width: 1600px) {
    .slider__info {
        width: auto;
        left: 35%;
        

        span {
            &:first-child {
                margin-top: 20px;
                padding: 0 15px;
            }
            &:last-child {
                padding-bottom: 22px;
            }
        }
    
        h2 {
            padding: 0 20px 0 25px;
        }
    }

     .slick-next {
         left: 94%;
    }

    .features__feature {
        margin-right: 30px;
        width: 20%;
        position: relative;
        left: 1%;
    }

    

   
}

@media only screen and (max-width: 1500px) {
    .slider__info {
        left: 33%;
    }
} 

@media only screen and (max-width: 1400px) {
    .slider__info {
        top: 45%;
        left: 32%;
    }
} 

@media only screen and (max-width: 1280px) {
    .slider__info {
        left: 30%;
    }

    .features__feature {
        width: 20%;
    }

    .products__product {
       
       h3 {font-size: 24px;} 
    }

    #product-title-animate3 {
        padding-left: 0;
        padding-right: 50px;
    }

    #product-title-animate6 {
        padding-right: 70px;
    }

    .about__info {
        p {font-size: 20px;}
    }

}

@media only screen and (max-width: 1240px) {
        .header-nav {
    
            li {
                &:nth-child(5) {margin-right: 35px;}
                &:last-child {margin-left: 0;}       
            }
        }
    }


@media only screen and (max-width: 1200px) {
    .header-contacts__address {
        left: 140px;  
    }

    .header-contacts__phone {
        left: 200px;
    }

    .header-nav {

        ul {left: -20px;}

        li {
            &:nth-child(1) {margin-right: 55px;}
            &:nth-child(2) {margin-right: 50px;}
            &:nth-child(3) {margin-right: 45px;}
            &:nth-child(4) {margin-right: 55px;}
            &:last-child {margin-left: 0;}       
        }
    }

    .slider__info {
        top: 35%;
    }

    .slick-next {
        left: 92%;
   }
}

@media only screen and (max-width: 1080px) {
    .header-contacts__address {
        left: 110px;   
    }

    .header-contacts__phone {
        left: 170px
    }

    .header-nav {
        font-size: 16px;

        ul {left: -20px;}

    }

    .slider__info {
        left: 25%;
    }
}

@media only screen and (max-width: 1024px) {
    .header__header-container {
        width: 90%;
    }

    .header-contacts__address {
        left: 80px;    
    }

    .header-contacts__phone {
        left: 125px;
    }

    .header-nav {
        font-size: 1.5vw;

        li {
            &:nth-child(1) {margin-right: 30px;}
            &:nth-child(2) {margin-right: 40px;}
            &:nth-child(3) {margin-right: 30px;}
            &:nth-child(4) {margin-right: 45px;}       
        }
    }

    .slider__info {
        left: 29%;

        span {
            font-size: 20px;

            &:last-child {
                margin-top: -15px;
            }
        }
    
        h2 {
            font-size: 30px;
        }
    }

    .features__container {
        flex-wrap: wrap;
    }
    
    .features__feature {
        margin-right: 0;
        width: 40%;
        left: 0;
    }

    .products__product {
        width: calc(100%/2);
    }

    #product-title-animate2 {
        padding-left: 0;
        padding-right: 50px;
    }

    #product-title-animate3 {
        padding-right: 0;
    }

    #product-title-animate4 {
        padding-left: 0;
    }

    .about {
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    
    .about__img {

        img {
            top: 0;
            left: 0;
        }
    }

    .about__img,
    .about__info {
        width: 100%;
    } 

    .about__info-container {
        align-items: center;
    }

    .about__info {
        h2 {
            width: auto;
            text-align: center;
            top: 0;
            left: 0;
        }

        p {
            width: auto;
            top: 0;
            left: 0;
        }

        button {
            top: 0;
            left: 1.5%;
            width: 20%;
            padding: 2% 2%;
        }
    }
}

@media only screen and (max-width: 950px) {
    .header-contacts__product-list {display: none;}

    .header-nav {
        font-size: 1.5vw;

        ul {left: -40px;}

        li {
            &:nth-child(1) {margin-right: 20px;}
            &:nth-child(2) {margin-right: 30px;}
            &:nth-child(3) {margin-right: 20px;}
            &:nth-child(4) {margin-right: 35px;}
            &:nth-child(5) {margin-right: 25px;}
                   
        }
    }

    
}

@media only screen and (max-width: 850px) {
    .slider__info {
        top: 25%;
        left: 27%;

        span {
            font-size: 18px;

            &:last-child {
                margin-top: -10px;
            }
        }
    
        h2 {
            font-size: 26px;
        }
    }

    .slick-next {
        left: 90%;
   }



}

@media only screen and (max-width: 768px) {
    .header-main-logo {
        img {
            max-width: 20%;
            top: 10px;
            left: 50px;
        }
    
        h1 {
            top: -55px;
            margin-left: 110px;
        }
    }

    .header-contacts {
        border-bottom: none;
    }

    .header-nav {display: none;}     
    
    .header-nav-burger-menu {display: block;}

    .slider__info {
        top: 25%;
        left: 27%;

        span {
            font-size: 16px;
        }
    
        h2 {
            font-size: 20px;
        }
    }

    .slick-prev:before,
    .slick-next:before {
        font-size: 48px;
    }

    .features {
        h2 {
            font-size: 38px;
          
        }
    }

    .features__feature {
        width: 70%;
    }

    .products__product {
        width: 100%;
    }

    #product-title-animate2 {
        padding-right: 0;
    }

    #product-title-animate6 {
        padding-right: 0;
    }
}




@media only screen and (max-width: 630px) {
    .header-main-logo {
        img {
            max-width: 17%;
            top: 15px;
            left: 50px;
        }
    
        h1 {
            top: -45px;
            margin-left: 90px;
        }
    }

    .header-contacts__address {
        left: 60px;

        a {
            top: -15px;
            font-size: 14px;
        }     
    }

    .header-contacts__phone {
        left: 100px;

        a {
            top: -8px;
            font-size: 14px;
        }
    }

    .slider__info {
        top: 25%;
        left: 25%;

        span {
            font-size: 14px;

            &:first-child {
                margin-top: 10px;
            }

            &:last-child {
                margin-top: -5px;
                padding-bottom: 10px;
            }
        }
    
        h2 {
            font-size: 16px;
        }
    }

    .slick-prev:before,
    .slick-next:before {
        font-size: 40px;
    }

    .features {
        h2 {
            font-size: 34px;
        }
    }

    .about__info {

        button {
            width: 25%;
        }
    }

}

@media only screen and (max-width: 550px) {
    .header-contacts__address {
        a {
            top: -25px;
            width: 130px;
            display: block;
        }     
    }

    .header-contacts__phone {
        left: -70px;

        a {
            top: 10px;
            width: 150px;
            display: block;
        }
    }

    .slider__info {
        left: 23%;

        span {
            font-size: 2.3vw;

            &:last-child {
                margin-top: -5px;
            }
        }
    
        h2 {
            font-size: 3vw;
        }
    }

    .slick-prev {width: 110px;}

    .slick-prev:before,
    .slick-next:before {
        font-size: 34px;
    }

    .slick-dots li {
        top: 20px;
    }

  
}

@media only screen and (max-width: 480px) {
    .header-main-logo {
        img {
            max-width: 20%;
            top: 17px;
            left: 45px;
        }
    
        h1 {
            font-size: 20px;
            top: -30px;
            margin-left: 80px;
        }
    }

    .products {
        h2 {font-size: 40px;}
    }

    .about__info {

        p {
            font-size: 18px;
        }

        button {
            width: 30%;
        }
    }

}

@media only screen and (max-width: 400px) {
    .slick-prev {width: 95px;}
    .slick-next {left: 88%;}
    .slick-dots li {
        top: 25px;
    }

    .slick-dots li button:before {
        font-size: 12px;
    }

    .features {
        h2 {
            font-size: 26px;
        }
    }

    .about__info {

        p {
            font-size: 16px;
        }

        button {
            width: 35%;
            padding: 3% 2%;
        }
    }
}
   


@media only screen and (max-width: 380px) {
    .header-main-logo {
    
        h1 {
            font-size: 18px;
            top: -25px;
        }
    }

    .slider__info {

        span {
            &:first-child {
                margin-bottom: -10px;
            }
        }
    }
}

@media only screen and (max-width: 360px) {
    .header__header-container {
        width: 100%;
    }

    .products {
        h2 {font-size: 36px;}
    }

    .about__info {

        p {
            font-size: 14.5px;
        }
    }

}

@media only screen and (max-width: 320px) {
    .slider__info {left: 25%;}

    .slick-next {left: 86%;}

}

