@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 1200px) {
    .header-contacts__address {
        a {left: -140px;}     
    }

    .header-contacts__phone {
        a {left: -140px;}
    }

    .header-nav {

        ul {left: -20px;}

        li {
            &:nth-child(1) {margin-right: 55px;}
            &:nth-child(2) {margin-right: 50px;}
            &:nth-child(3) {margin-right: 45px;}
            &:nth-child(4) {margin-right: 55px;}
            &:last-child {margin-left: 50px;}       
        }
    }
}

@media only screen and (max-width: 1080px) {
    .header-contacts__address {
        a {left: -160px;}     
    }

    .header-contacts__phone {
        a {left: -220px;}
    }

    .header-nav {
        font-size: 16px;

        ul {left: -20px;}

        li {
            &:nth-child(1) {margin-right: 55px;}
            &:nth-child(2) {margin-right: 50px;}
            &:nth-child(3) {margin-right: 45px;}
            &:nth-child(4) {margin-right: 55px;}
            &:last-child {margin-left: 50px;}       
        }
    }
}

@media only screen and (max-width: 1024px) {
    .header__header-container {
        width: 90%;
    }

    .header-contacts__address {
        a {left: -190px;}     
    }

    .header-contacts__phone {
        a {left: -270px;}
    }

    .header-nav {
        font-size: 1.5vw;

        

        li {
            &:nth-child(1) {margin-right: 30px;}
            &:nth-child(2) {margin-right: 40px;}
            &:nth-child(3) {margin-right: 30px;}
            &:nth-child(4) {margin-right: 45px;}
            &:last-child {margin-left: 30px;}       
        }
    }
}

@media only screen and (max-width: 940px) {
    .header-contacts__product-list {display: none;}
}

@media only screen and (max-width: 860px) {
    .header-nav {
        font-size: 1.5vw;

        ul {left: -40px;}

        li {
            &:nth-child(1) {margin-right: 20px;}
            &:nth-child(2) {margin-right: 30px;}
            &:nth-child(3) {margin-right: 20px;}
            &:nth-child(4) {margin-right: 35px;}
            &:last-child {margin-left: 20px;}       
        }
    }
}

@media only screen and (max-width: 768px) {
    .header-main-logo {
        img {
            max-width: 20%;
            top: 10px;
            left: 50px;
        }
    
        h1 {
            top: -55px;
            margin-left: 110px;
        }
    }

    .header-contacts {
        border-bottom: none;
    }

    .header-nav {display: none;}     
    
    .header-nav-burger-menu {display: block;}
}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 360px) {

}

@media only screen and (max-width: 320px) {

}